<div id="root" class="content"></div>


<div class="footer">
  A Drum Machine built in Rails, React.js, and Javascript by
  <a href="https://github.com/zanebrzezinski">
    <span class="footer-name">Zane Brzezinski</span></a>.
  </div>

<div class="footer">
  <p>Instructions</p>
  <p class="instructions">Click Play to start the sequencer.  Each of the 16 buttons along the bottom can
  clicked to add a sound to that step in the sequence.  The sound can be selected
  with the instrument select buttons in the middle of the drum machine.  Each sound
  has an individual volume slider beneath its instrument select button.</p>
  <p class="instructions">The global
  tempo can be set with the tempo slider in the upper right hand corner.  Individual patterns
  can be named in the top right, and saved to the browser cookie for later recall with the
  save button.  Try making a few patterns and switching between them on the fly!</p>

</div>

<audio id="Kick instrument" class="instrument" src="https://s3.amazonaws.com/drummachine/kick.wav"/>
<audio id="Hat instrument" class="instrument" src="https://s3.amazonaws.com/drummachine/closed-hat.wav"/>
<audio id="Snare instrument" class="instrument" src="https://s3.amazonaws.com/drummachine/snare2.wav"/>
<audio id="Tom instrument" class="instrument" src="https://s3.amazonaws.com/drummachine/tom.wav"/>
<audio id="Open Hat instrument" class="instrument" src="https://s3.amazonaws.com/drummachine/open-hat.wav"/>
<audio id="Clap instrument" class="instrument" src="https://s3.amazonaws.com/drummachine/clap.wav"/>
